*{
      margin: 0;
      padding: 0;
}

body{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      justify-content: center;
}

.screen{
      font-size: 112px;
      background: darkblue;
      color: white;
}

.clear{
      font-size: 112px;
      background: red;
      color: white;
}

.buttons{
      display: flex;
      flex-wrap: wrap;
}

button{
      flex-basis: 25%;
      font-size: 64px;
}

button:hover{
      background: lightblue;
}